.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333; /* Цвет фона NavBar */
  height: 60px; /* Высота NavBar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Внутренний отступ справа и слева */
}

.navbar-brand {
  font-size: 24px; /* Размер шрифта логотипа */
  color: #fff; /* Цвет текста логотипа */
  text-decoration: none; /* Убрать подчеркивание ссылки */
}

.navbar-links {
  list-style: none; /* Убрать стили списка */
  margin: 0; /* Убрать внешние отступы */
  padding: 0; /* Убрать внутренние отступы */
  display: flex;
}

.navbar-link {
  margin-right: 20px; /* Отступ между ссылками */
  color: #fff; /* Цвет текста ссылок */
  text-decoration: none; /* Убрать подчеркивание ссылок */
}

.navbar-link:hover {
  color: #61dafb; /* Цвет ссылки при наведении */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}